.spin-button{
  button {
    position: relative;
    outline: none;
    @apply border border-black border-opacity-10 bg-white
  }

  button::before,
  button::after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .spin {
    @apply h-14 w-14
  }

  .spin::before {
    border: 2px solid transparent;
  }

  .spin::before,
  .spin::after {
    top: 0;
    left: 0;
    transition: border-top-color 0.15s linear, border-right-color 0.15s linear 0.10s, border-bottom-color 0.15s linear 0.20s;
  }

  .spin:hover::before,
  .spin_focus::before {
    @apply border-sky-500
  }

  .spin::after {
    border: 0 solid transparent;
  }

  .spin:hover::after,
  .spin_focus::after {
    border-top: 2px solid #0381FF;
    border-left-width: 2px;
    border-right-width: 2px;
    transform: rotate(270deg);
    transition: transform 0.4s linear 0s, border-left-width 0s linear 0.35s;
  }

  .spin_focus {
    outline: none;
  }

  .spin:not(.spin_focus)::before,
  .spin:not(.spin_focus)::after {
    border-color: transparent;
  }

  .circle {
    border-radius: 100%;
    box-shadow: none;
  }

  .circle::before,
  .circle::after {
    border-radius: 100%;
  }
}
